/**
 * Synadia theme for reveal.js. *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #0f0f0f;

$mainColor: #dbdbdb;
$headingColor: #fff;

$mainFontSize: 32px;
$mainFont: "Inter", Helvetica, sans-serif;
$headingFont: "Inter", Helvetica, sans-serif;
$headingLineHeight: 1.2;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #5952f6;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: rgba($linkColor, 0.75);

$heading1Size: 2.6em;
$heading2Size: 2em;
$heading3Size: 1.6em;
$heading4Size: 1.2em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

.reveal section {
  text-align: left;
}
.reveal section > div > div,
.reveal section > div {
  align-items: flex-start !important;
}

.reveal section ul li {
  padding: 6px 0;
}

.reveal img.bio {
  border-radius: 1000px;
  border: 0.25rem solid white;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
